body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}
html,body,#root{
  height: 100%;
}
h1,h2,h3{
  margin: 0px;
}
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: none;
  /* background:lightcoral; */
  border: 1px solid black;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 120px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 33.3333333%;
}
.square{
  text-align: center;
}
.square a{
  display: inline-block;
  vertical-align: middle;
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  /* background: #ddd; */
}

.game {
  /* display: flex;
  flex-direction: row; */
  height: 100%;
  background: url('./qp.jpg')
}

.game-info {
  margin-left: 20px;
}
.game-title{
  text-align: center;
}
.cha{
  width: 55px;
  height: 55px;
  background: black;
  border-radius: 50%;
}
.yuan{
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
}
